body {
  max-width: 100%;
  max-height: 100vh;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #111;
}

.logo {
  color: #fdd835;
  font-weight: bold;
}

.buttons button {
  background-color: #fdd835;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.buttons button:hover {
  background-color: #c7aa2c;
}

/*.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}*/
.grid {
  margin: 2vh 0;
}
.ligne {
  justify-content: space-evenly;
  display: flex;
  width: 100%;
}
.card {
  position: relative; /* Permet de positionner le texte par-dessus l'image */
  width: 100%;
  height: 300px; /* Fixe la hauteur de chaque carte */
  border-radius: 10px;
  overflow: hidden; /* Assure que l'image ne dépasse pas des bords de la carte */
}

.boutonMenu {
  margin: 0 10px;
}

.boutonMenu:hover .card-image img {
  opacity: 0.7;
  width: 110%;
  transition: 0.2s ease-in-out;
}

.card-image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  transition: 0.2s ease-in-out;
}

.card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrer le texte */
  color: #fff; /* Texte blanc */
  font-size: 24px; /* Taille du texte */
  font-weight: bold; /* Gras pour le titre */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre portée pour améliorer la lisibilité */
}

.ligne {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first {
  flex: 1 1 30%;
}

.second {
  flex: 1 1 70%;
}

/* Formulaire*/
form {
  max-width: 400px; /* Largeur maximale du formulaire */
  margin: 0 auto; /* Centrage du formulaire */
  padding: 20px; /* Espacement interne */
  background-color: #f9f9f92d; /* Couleur de fond claire */
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre subtile pour l'effet 3D */
}

form h2 {
  text-align: center; /* Centrer le titre */
  margin-bottom: 20px; /* Marge sous le titre */
  font-size: 24px; /* Taille de la police */
  color: #333; /* Couleur du texte */
}

form input {
  color: #ffffff;
  width: 100%; /* Champs qui prennent toute la largeur du formulaire */
  padding: 12px; /* Espacement interne des champs */
  margin: 10px 0; /* Espacement vertical entre les champs */
  border: none; /* Bordure grise */
  border-radius: 4px; /* Coins arrondis */
  font-size: 16px; /* Taille de police */
  background-color: #ffffff3f;
  box-sizing: border-box; /* Inclure le padding dans la largeur */
}

form input:focus {
  outline: none; /* Enlever le contour par défaut */
  border-color: #fdd835; /* Bordure verte lors du focus */
  box-shadow: 0 0 5px rgba(0, 128, 0, 0.2); /* Ombre verte autour du champ */
}

form button {
  width: 100%; /* Bouton qui prend toute la largeur */
  padding: 12px; /* Espacement interne du bouton */
  background-color: #fdd835; /* Couleur de fond verte */
  color: black; /* Couleur du texte */
  border: none; /* Enlever la bordure */
  border-radius: 4px; /* Coins arrondis */
  font-size: 16px; /* Taille de la police du bouton */
  cursor: pointer; /* Curseur en forme de main */
  transition: background-color 0.3s ease; /* Animation au survol */
}

form input::placeholder {
  color: #ffffff; /* Couleur du texte du placeholder (gris clair ici) */
  opacity: 1; /* Assure que le placeholder a une opacité de 1 (non transparent) */
}

form button:hover {
  background-color: #c7aa2c; /* Couleur légèrement plus foncée au survol */
}
